name: Training Pipeline

on:
  schedule:
    - cron: '0 0 * * *' # Run daily at midnight
  workflow_dispatch:

jobs:
  training_pipeline:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Run Training Pipeline
        env:
          HOPSWORKS_API_KEY: '${{ secrets.HOPSWORKS_API_KEY }}'
          HOPSWORKS_PROJECT_NAME: '${{ secrets.HOPSWORKS_PROJECT_NAME }}'
        run: python src/models/train_model.py
